*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
  font: size 62.5%;
}

header{
  height: 63px;
  background-color:#F3E9F1 ;  
}

h1{
position:relative;  
top:51px;
}

h1, h2, h3{
  font-weight: bold;
  font-size: 1rem;
}

.logo img{
  width: 23%;
  float: left;
}

.banniere_description a{
  margin-left: 64%;
  color: white;
  background-color:#C37861;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 4px;
  border: 1px solid white;
  position: relative;
  top: 67px;
}

a{
  text-decoration: none;
  color: black;
}

img, svg{
  width: 50%;
  border-radius: 100%;
}

.banniere_description{
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  background-image: url("../frontend/image/nuage.jpg");
  background-size: cover;
  height: 150px;
}

#listeProduit{
  padding: 36px 4%;
}

#banniere-image{
  padding: 8% 4%;
}

.menu{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10%;
    padding-top: 4%;
    padding-right: 6%;
    justify-content: space-between;
    padding-left: 53%;
}

footer{
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  font-size:67% ;
  background-color:#C37861 ;
  width: 100%;
}

h5{
  font-size: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

footer ul{
  list-style: none;
    text-align: center;
    padding: 0;
    font-weight: 800;
}